.attending-confirmation-page-container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#paper-plane{
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
}

#success-confirmation {
    font-size: 1.5rem;
}