

.attending-confirmation-page-container {
  background-image: url("../images/rsvp-background.jpg");
  background-size: cover;
  background-position: center;
  height: 60rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#paper-plane{
    display: flex;
    margin: 0 auto;
}

.paper-plane-container {
    display: flex;
    align-items: center;
}

#proposal {
    display: flex;
    margin: 0 auto;
    height: 140px;
    width: 250px;
}

br{
    margin-bottom: 0.6rem;
}

.confirmation-name {
    font-family: 'Parisienne', cursive;
    font-size: 2.8rem;
    margin-top: 20rem;
}

.confirmation-venue {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.success-confirmation {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.declined-confirmation {
    font-size: 1.2rem;
    margin: 4rem;
    line-height: 2rem;
}

#home {
    display: flex;
    justify-content: center;
}

#home-button {
    text-decoration: none;
    color: inherit;
    border: hsl(0, 0%, 40%) solid 1px;
    border-radius: 0.8rem;
    padding: 0.8rem 1.5rem;
    transition: 0.3s;
}

#home-button:hover {
    background-color: rgb(250, 188, 179);
    border-color: rgb(250, 188, 179);
    border-radius: 1.5rem;
    color: white;
}

@media (max-width: 428px) {
    .confirmation-name {
        font-size: 2.5rem;
        margin-top: 19.7rem;
    }
    
    .confirmation-venue {
        font-size: 0.8rem;
        margin-bottom: 1.8rem;
    }
    
    .success-confirmation {
        font-size: 0.8rem;
        margin-bottom: 1.4rem;
    }
    .paper-plane-container {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }
    #paper-plane{
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
    }
    #home-button {
        padding: 0.6rem 1.3rem;
    }
  }

  