.header-container{
    background-image: url("../images/rsvp-background.jpg");
    background-size: cover;
    background-position: center;
    height: 40rem; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.schedule-container {
    text-align: center;
}

#title {
    font-size: 5.5rem;
    margin-top: 18rem;
    margin-bottom: 5rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Parisienne', cursive;
}

#date {
    font-size: 1.5rem;
    margin: 0;
}

#title-info {
    font-size: 1.2rem;
}

#rsvp {
    margin-top: 1rem;
    font-size: 1.5rem;
    border: black solid 1px;
    border-radius: 0.8rem;
    padding: 0.5rem 0.8rem 0.4rem 0.8rem;
    text-decoration: none;
    color: inherit;
    transition: 0.8s;
}

#rsvp:hover {
    background-color: rgba(74, 89, 65, 0.5);
    border-radius: 2.5rem;
    color: lavender;
}

@media (max-width: 712px) {

    .header-container{
        margin: 0 auto;
        max-width: 100%;
    }

    #title{
        margin: 4.5rem;
    }
}