body {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 22%);;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body, #app, #app>div {
  height: 100%;
  background-color: #F6F6F6;
}






